.header-component
  height: 75px
  background: linear-gradient(to right, #314268, #824949, #c3acf7)
  .header-logo
    @include hover-bg
    display: inline-flex
    align-items: center
    gap: 20px
    padding: 0 15px
    color: #fff
    font-size: 20px
    img
      width: 64px
      height: 64px
