.main-content-component
  padding: 20px
  box-shadow: 1px 1px 5px #aaa
  .job-item
    padding: 5px 0
    border-bottom: 1px solid #eee
  .job-link
    display: flex
    @include hover-bg(rgb(237, 196, 132))
    transition: background-color ease 0.25s, transform ease 0.25s
    &:hover
      transform: scale(1.02)
  .job-image
    width: 90px
    height: 90px
    margin-right: 20px
    background: #ccc
    object-fit: cover
  .has-icon
    margin-bottom: 5px
    padding-left: 30px
    position: relative
    > i
      position: absolute
      top: 0
      left: 0
  .job-name
    > .name
      margin-right: 5px
      font-size: 24px
      font-weight: 700
      color: $color1

    > i
      top: 7px

  .filter-wrapper
    .tab-list
      display: flex
      gap: 10px
      border-bottom: 1px solid #ccc
    .tab
      padding: 5px 10px
      transition: all ease 0.2s
      border-style: solid
      border-color: transparent
      border-width: 0 0 2px 0
      font-weight: 500
      &.active,
      &:hover
        border-color: $color1
        color: $color1

  .pagination-wrapper
    padding: 20px 0
    .pagination-list
      display: flex
      gap: 10px
    .page
      width: 30px
      height: 30px
      text-align: center
      border: 1px solid #ccc
      line-height: 30px

+mb
  .main-content-component
    padding: 20rem
    .job-item
      padding: 5rem 0
    .job-image
      width: 90rem
      height: 90rem
      margin-right: 20rem
    .has-icon
      margin-bottom: 5rem
      padding-left: 30rem
    .job-name
      > .name
        margin-right: 5rem
        font-size: 24rem
      > i
        top: 7rem

    .filter-wrapper
      .tab-list
        gap: 10rem
      .tab
        padding: 5rem 10rem
        border-width: 0 0 2rem 0
        font-weight: 500

    .pagination-wrapper
      padding: 20rem 0
      .pagination-list
        gap: 10rem
      .page
        width: 30rem
        height: 30rem
        line-height: 30rem
