.user-component
  padding: 60px 0
  .layout-wrapper
    display: flex
    gap: 30px
  .sidebar-wrapper
    flex: 400px 0 0
    padding-top: 37px
  .sidebar
    padding: 15px 25px
    border: 1px solid #ccc
    border-radius: 10px
    box-shadow: 0 0 5px 3px #aaa

  .profile-wrapper
    display: flex
    flex-direction: column
    gap: 10px
    margin-bottom: 20px
    padding-bottom: 18px
    font-size: 18px
    border-bottom: 1px solid #ccc
  .profile-title
    font-weight: bold
    font-size: 20px
  .profile-item
    display: flex
    gap: 10px
    label
      margin-left: auto
      cursor: pointer
      color: #ebb208
    .bold
      font-weight: 700

  .item-link,
  .save-button,
  .request-button
    @include common-button
  .item-link
    font-size: 16px
    font-weight: 400
    span
      margin-right: 8px
  .save-button
    margin-right: 10px

  .main-content
    width: 100%
  .breadcrumb-wrapper
    display: flex
    gap: 10px
    align-items: center
    padding-bottom: 15px
    color: #555
    a
      &:hover
        text-decoration: underline
      i
        margin-right: 5px
        color: $color1

  .user-list-frame
    margin-bottom: 30px
    border: 1px solid #3567d2
    .title
      display: flex
      align-items: center
      padding: 2px 15px
      color: #fff
      background-color: #3567d2
      font-size: 22px
      font-weight: 700
      transition: opacity ease 0.2s
      i
        margin-left: auto
    a.title:hover
      opacity: 0.9
